<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your order has been placed successfully!  <br /><br />
        <img src="~/logo/tick.jpg" width="30%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        We will contact you shortly! <br />
    </div>

    <!-- Go to Home Button -->
    <div class="col-12 text-center mt-4">
        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary">
            Go to Home
        </a>
    </div>
</div>
